# Node package manager file that set various configuration options for the project
# This following line is to tell npm to install the dependecies from the package.json file
production=true

#  The following line is used to disable the progress bar when installing the dependencies
progress=false
